<h1>Contacts</h1>


<form action="/" method="get" >
  <label for="query">Search: </label>
  <input type="text" name="query" id="query" placeholder="contact name"/>
  <input type="submit" value="Search" />
</form>


<ul>
  <% @contacts.each do |contact| %>
    <li><a href = "<%= "/contacts/#{contact.id}" %>"> <%= contact.name %> </a> </li>
  <% end %>
</ul>

<p> <a href= '/' > HOME </a>  </p>
<br>
<p> <a href = '/register'> ADD CONTACT </a> </p>



